# Assignment 1: Question 2

Consider the _Salaries.csv_ dataset containing San Francisco city employee salary data.

In [3]:
import numpy as np
import pandas as pd

In [4]:
# Read the CSV file into a DataFrame
df = pd.read_csv("C:/Users/user/Documents/STK 353/Assignments/Salaries.csv")
# Print the entire DataFrame
print(df)

            Id       EmployeeName  \
0            1     NATHANIEL FORD
1            2       GARY JIMENEZ
2            3     ALBERT PARDINI
3            4  CHRISTOPHER CHONG
4            5    PATRICK GARDNER
...        ...                ...
148649  148650      Roy I Tillery
148650  148651       Not provided
148651  148652       Not provided
148652  148653       Not provided
148653  148654          Joe Lopez

                                              JobTitle    BasePay  \
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  167411.18
1                      CAPTAIN III (POLICE DEPARTMENT)  155966.02
2                      CAPTAIN III (POLICE DEPARTMENT)  212739.13
3                 WIRE ROPE CABLE MAINTENANCE MECHANIC   77916.00
4         DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)  134401.60
...                                                ...        ...
148649                                       Custodian       0.00
148650                                    Not provided        NaN
148651                                    Not provided        NaN
148652                                    Not provided        NaN
148653                      Counselor, Log Cabin Ranch       0.00

        OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  Year  \
0              0.00  400184.25       NaN  567595.43         567595.43  2011
1         245131.88  137811.38       NaN  538909.28         538909.28  2011
2         106088.18   16452.60       NaN  335279.91         335279.91  2011
3          56120.71  198306.90       NaN  332343.61         332343.61  2011
4           9737.00  182234.59       NaN  326373.19         326373.19  2011
...             ...        ...       ...        ...               ...   ...
148649         0.00       0.00       0.0       0.00              0.00  2014
148650          NaN        NaN       NaN       0.00              0.00  2014
148651          NaN        NaN       NaN       0.00              0.00  2014
148652          NaN        NaN       NaN       0.00              0.00  2014
148653         0.00    -618.13       0.0    -618.13           -618.13  2014

        Notes         Agency  Status
0         NaN  San Francisco     NaN
1         NaN  San Francisco     NaN
2         NaN  San Francisco     NaN
3         NaN  San Francisco     NaN
4         NaN  San Francisco     NaN
...       ...            ...     ...
148649    NaN  San Francisco     NaN
148650    NaN  San Francisco     NaN
148651    NaN  San Francisco     NaN
148652    NaN  San Francisco     NaN
148653    NaN  San Francisco     NaN

[148654 rows x 13 columns]

1. How many rows does the _Salaries.csv_ dataset have?

In [5]:
# Check the number of rows in the DataFrame
num_rows = df.shape[0]
print("Number of rows in the dataset:", num_rows)

Number of rows in the dataset: 148654

2. Retrieve the column names.

In [6]:
# Get the column names
column_names = df.columns
print("Column names in the dataset:")
for column in column_names:
    print(column)

Column names in the dataset:
Id
EmployeeName
JobTitle
BasePay
OvertimePay
OtherPay
Benefits
TotalPay
TotalPayBenefits
Year
Notes
Agency
Status

3. Use an appropriate method to retrieve the first 10 rows of the data.

In [7]:
# Retrieve the first 10 rows of the data
first_10_rows = df.head(10)
print("First 10 rows of the dataset:")
print(first_10_rows)

First 10 rows of the dataset:
   Id        EmployeeName                                        JobTitle  \
0   1      NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2        GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3      ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4   CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5     PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
5   6      DAVID SULLIVAN                       ASSISTANT DEPUTY CHIEF II
6   7           ALSON LEE              BATTALION CHIEF, (FIRE DEPARTMENT)
7   8       DAVID KUSHNER                  DEPUTY DIRECTOR OF INVESTMENTS
8   9      MICHAEL MORRIS              BATTALION CHIEF, (FIRE DEPARTMENT)
9  10  JOANNE HAYES-WHITE          CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)

     BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.00  400184.25       NaN  567595.43         567595.43
1  155966.02    245131.88  137811.38       NaN  538909.28         538909.28
2  212739.13    106088.18   16452.60       NaN  335279.91         335279.91
3   77916.00     56120.71  198306.90       NaN  332343.61         332343.61
4  134401.60      9737.00  182234.59       NaN  326373.19         326373.19
5  118602.00      8601.00  189082.74       NaN  316285.74         316285.74
6   92492.01     89062.90  134426.14       NaN  315981.05         315981.05
7  256576.96         0.00   51322.50       NaN  307899.46         307899.46
8  176932.64     86362.68   40132.23       NaN  303427.55         303427.55
9  285262.00         0.00   17115.73       NaN  302377.73         302377.73

   Year  Notes         Agency  Status
0  2011    NaN  San Francisco     NaN
1  2011    NaN  San Francisco     NaN
2  2011    NaN  San Francisco     NaN
3  2011    NaN  San Francisco     NaN
4  2011    NaN  San Francisco     NaN
5  2011    NaN  San Francisco     NaN
6  2011    NaN  San Francisco     NaN
7  2011    NaN  San Francisco     NaN
8  2011    NaN  San Francisco     NaN
9  2011    NaN  San Francisco     NaN

4. What is the average BasePay?

In [8]:
# Calculate the average BasePay
average_basepay = df['BasePay'].mean()
print("Average BasePay:", average_basepay)

Average BasePay: 66325.4488404877

5. What is the highest amount of OvertimePay in the dataset?

In [9]:
# Find the highest amount of OvertimePay
highest_overtimepay = df['OvertimePay'].max()
print("Highest OvertimePay:", highest_overtimepay)

Highest OvertimePay: 245131.88

6. What is the job title of PATRICIA GRANDBERRY?

In [10]:
# Filter the DataFrame to find the rows where the employee's name is PATRICIA GRANDBERRY
filtered_df = df[df['EmployeeName'] == 'PATRICIA GRANDBERRY']

# Get the job title from the filtered DataFrame
job_title = filtered_df['JobTitle'].values[0]

print("Job title of PATRICIA GRANDBERRY:", job_title)

Job title of PATRICIA GRANDBERRY: PUBLIC HEALTH NURSE

7. What is the name of the highest paid person including benefits (TotalPayBenefits)?

In [11]:
# Find the row with the highest TotalPayBenefits
highest_paid_index = df['TotalPayBenefits'].idxmax()

# Get the name of the highest-paid person
highest_paid_person_name = df.loc[highest_paid_index, 'EmployeeName']

print("Name of the highest-paid person (including benefits):", highest_paid_person_name)


# Find the row with the lowest TotalPayBenefits
lowest_paid_index = df['TotalPayBenefits'].idxmin()

# Get the name of the lowest-paid person
lowest_paid_person_name = df.loc[lowest_paid_index, 'EmployeeName']

print("Name of the lowest-paid person (including benefits):", lowest_paid_person_name)

Name of the highest-paid person (including benefits): NATHANIEL FORD
Name of the lowest-paid person (including benefits): Joe Lopez

8. What was the average TotalPayBenefits of all employees per year?

In [11]:
# Group the data by the "Year" column and calculate the average TotalPayBenefits for each year
average_totalpaybenefits_per_year = df.groupby('Year')['TotalPayBenefits'].mean()

# Print the result
print("Average TotalPayBenefits per year:")
print(average_totalpaybenefits_per_year)

Average TotalPayBenefits per year:
Year
2011     71744.103871
2012    100553.229232
2013    101440.519714
2014    100250.918884
Name: TotalPayBenefits, dtype: float64

9. How many unique job titles are there?

In [12]:
# Calculate the number of unique job titles
unique_job_titles_count = df['JobTitle'].nunique()
print("Number of unique job titles:", unique_job_titles_count)

Number of unique job titles: 2159

10. What are the top 10 most common jobs? Take note of how many people have these jobs titles.

In [13]:
# Calculate the count of each job title and select the top 10 most common ones
top_10_common_jobs = df['JobTitle'].value_counts().head(10)

# Print the result
print("Top 10 most common job titles and the number of people with each title:")
print(top_10_common_jobs)

Top 10 most common job titles and the number of people with each title:
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Custodian                       2418
TRANSIT OPERATOR                2388
Firefighter                     2359
Recreation Leader               1971
Patient Care Assistant          1945
Name: JobTitle, dtype: int64

11. What was the average BasePay for Firefighters in each year?

In [13]:
# Filter the data to include only rows with the job title "Firefighter"
firefighter_data = df[df['JobTitle'] == 'Firefighter']

# Group the filtered data by the "Year" column and calculate the average BasePay for each year
average_basepay_per_year_firefighters = firefighter_data.groupby('Year')['BasePay'].mean()

# Print the result
print("Average BasePay for Firefighters in each year:")
print(average_basepay_per_year_firefighters)

# Filter the data to include only rows with the job title "Porter"
porter_data = df[df['JobTitle'] == 'Porter']

# Group the filtered data by the "Year" column and calculate the average BasePay for Porters in each year
average_basepay_per_year_porters = porter_data.groupby('Year')['BasePay'].mean()

# Print the result
print("Average BasePay for Porters in each year:")
print(average_basepay_per_year_porters)

Average BasePay for Firefighters in each year:
Year
2012    101389.955415
2013    106700.682907
2014     98847.538945
Name: BasePay, dtype: float64
Average BasePay for Porters in each year:
Year
2012    36827.733690
2013    40975.338235
2014    40863.983324
Name: BasePay, dtype: float64

<h3><center>End of Question 2</center></h3>