# Assignment 1: Question 1

Consider the _Payroll.csv_ dataset.

In [4]:
import numpy as np
import pandas as pd

In [5]:
# Read the CSV file into a DataFrame
df = pd.read_csv("C:/Users/user/Documents/STK 353/Assignments/Payroll.csv")
# Print the entire DataFrame
print(df)

            EmployeeName                    JobTitle  BasicSalary  \
0         Scott W Walton                  Manager II    126346.04
1           Brian W Byun                    Engineer    132399.33
2       Kenneth J Canedo            Police Officer 3    124723.62
3       Brett A Lundberg             General Laborer    117045.00
4         Mark W Mcclure             General Laborer    114062.00
...                  ...                         ...          ...
148862     Roy I Tillery                   Custodian         0.00
148863      Not provided                Not provided          NaN
148864      Not provided                Not provided          NaN
148865      Not provided                Not provided          NaN
148866         Joe Lopez  Counselor, Log Cabin Ranch         0.00

        OvertimePay  OtherPay   TotalPay    Year         Agency
0               0.0   1000.00  127346.04  2013.0  San Francisco
1               0.0   1913.44  134312.77  2013.0  San Francisco
2           10582.2   7001.51  137940.06  2013.0  San Francisco
3               0.0      0.00       0.00  2014.0  San Francisco
4               0.0      0.00       0.00  2014.0  San Francisco
...             ...       ...        ...     ...            ...
148862          0.0      0.00       0.00  2014.0  San Francisco
148863          NaN       NaN       0.00  2014.0  San Francisco
148864          NaN       NaN       0.00  2014.0  San Francisco
148865          NaN       NaN       0.00  2014.0  San Francisco
148866          0.0   -618.13    -618.13  2014.0  San Francisco

[148867 rows x 8 columns]

In [6]:
df

,EmployeeName,JobTitle,BasicSalary,OvertimePay,OtherPay,TotalPay,Year,Agency
0,Scott W Walton,Manager II,126346.04,0.0,1000.00,127346.04,2013.0,San Francisco
1,Brian W Byun,Engineer,132399.33,0.0,1913.44,134312.77,2013.0,San Francisco
2,Kenneth J Canedo,Police Officer 3,124723.62,10582.2,7001.51,137940.06,2013.0,San Francisco
3,Brett A Lundberg,General Laborer,117045.00,0.0,0.00,0.00,2014.0,San Francisco
4,Mark W Mcclure,General Laborer,114062.00,0.0,0.00,0.00,2014.0,San Francisco
...,...,...,...,...,...,...,...,...
148862,Roy I Tillery,Custodian,0.00,0.0,0.00,0.00,2014.0,San Francisco
148863,Not provided,Not provided,NaN,NaN,NaN,0.00,2014.0,San Francisco
148864,Not provided,Not provided,NaN,NaN,NaN,0.00,2014.0,San Francisco
148865,Not provided,Not provided,NaN,NaN,NaN,0.00,2014.0,San Francisco
148866,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.0,-618.13,-618.13,2014.0,San Francisco

1. How many rows does the dataset contain?

In [7]:
# Get the number of rows in the DataFrame
num_rows = df.shape[0]
# Print the number of rows
print("Number of rows in the dataset:", num_rows)

Number of rows in the dataset: 148867

2. What is the data type of each column?

In [8]:
# Get the data types of each column
column_data_types = df.dtypes
# Print the data types
print("Data types of each column:")
print(column_data_types)

Data types of each column:
EmployeeName     object
JobTitle         object
BasicSalary     float64
OvertimePay     float64
OtherPay        float64
TotalPay        float64
Year            float64
Agency           object
dtype: object

3. a. How many duplicate rows are there in the dataset?

In [9]:
# Count the number of duplicate rows
num_duplicates = df.duplicated().sum()
# Print the number of duplicate rows
print("Number of duplicate rows in the dataset:", num_duplicates)

Number of duplicate rows in the dataset: 222

3. b. Delete the duplicate rows. How many rows are left in the dataset?

In [10]:
# Remove duplicate rows and update the DataFrame
df.drop_duplicates(inplace=True)

# Get the number of rows after removing duplicates
num_rows_after_removing_duplicates = df.shape[0]

# Print the number of rows left
print("Number of rows left after removing duplicates:", num_rows_after_removing_duplicates)

Number of rows left after removing duplicates: 148645

**IMPORTANT: Use the new dataset (with the duplicates removed) to answer the remaining questions.**

4. How many missing values are there in each column?

In [11]:
df.drop_duplicates(inplace=True)
# Count the number of missing values in each column
missing_values = df.isnull().sum()

# Print the number of missing values for each column
print("Missing values in each column:")
print(missing_values)

Missing values in each column:
EmployeeName      0
JobTitle          0
BasicSalary     606
OvertimePay     150
OtherPay         14
TotalPay          0
Year            183
Agency          128
dtype: int64

5. What is the average BasicSalary?

In [12]:
# Calculate the average BasicSalary
average_basic_salary = df['BasicSalary'].mean()

# Print the average BasicSalary
print("Average BasicSalary:", average_basic_salary)

Average BasicSalary: 66333.88672680849

6. The BasicSalary column has missing data. 

    a.   Replace the missing values with the median value of the column. 
   
    b.  What do you call this method of handling missing data?
   
    c. Recalculate the average BasicSalary. How did it change?

In [13]:
# Replace missing values in BasicSalary with the median
median_basic_salary = df['BasicSalary'].median()
df['BasicSalary'].fillna(median_basic_salary, inplace=True)

# Print the DataFrame to confirm the changes
print(df)

            EmployeeName                    JobTitle  BasicSalary  \
0         Scott W Walton                  Manager II    126346.04
1           Brian W Byun                    Engineer    132399.33
2       Kenneth J Canedo            Police Officer 3    124723.62
3       Brett A Lundberg             General Laborer    117045.00
4         Mark W Mcclure             General Laborer    114062.00
...                  ...                         ...          ...
148858  Carolyn A Wilson   Human Services Technician         0.00
148859      Not provided                Not provided     65019.76
148861       Leon Walker                   Custodian         0.00
148862     Roy I Tillery                   Custodian         0.00
148866         Joe Lopez  Counselor, Log Cabin Ranch         0.00

        OvertimePay  OtherPay   TotalPay    Year         Agency
0               0.0   1000.00  127346.04  2013.0  San Francisco
1               0.0   1913.44  134312.77  2013.0  San Francisco
2           10582.2   7001.51  137940.06  2013.0  San Francisco
3               0.0      0.00       0.00  2014.0  San Francisco
4               0.0      0.00       0.00  2014.0  San Francisco
...             ...       ...        ...     ...            ...
148858          0.0      0.00       0.00  2014.0  San Francisco
148859          NaN       NaN       0.00  2014.0  San Francisco
148861          0.0      0.00       0.00  2014.0  San Francisco
148862          0.0      0.00       0.00  2014.0  San Francisco
148866          0.0   -618.13    -618.13  2014.0  San Francisco

[148645 rows x 8 columns]

In [14]:
#The method of handling missing data by replacing missing values with the median 
#(or any other statistical measure) is called "imputation." Specifically, in this case, 
#we are using "median imputation" because we are filling missing values with the median of the column.

In [15]:
# Recalculate the average BasicSalary
average_basic_salary_after_imputation = df['BasicSalary'].mean()

# Print the new average BasicSalary
print("Average BasicSalary after imputation:", average_basic_salary_after_imputation)

Average BasicSalary after imputation: 66328.52925904

7. How many outliers are there in the TotalPay column?

In [22]:
# Calculate the IQR for the TotalPay column
Q1 = df['TotalPay'].quantile(0.25)
Q3 = df['TotalPay'].quantile(0.75)
IQR = Q3 - Q1

# Define the lower and upper bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Count the number of outliers in the TotalPay column
outliers = df[(df['TotalPay'] < lower_bound) | (df['TotalPay'] > upper_bound)]

# Print the number of outliers
num_outliers = len(outliers)
print("Number of outliers in the TotalPay column:", num_outliers)
print("The Interquartile range is:", IQR)
print("Q1:", Q1)
print("Q3:", Q3)

#calculate box and wiskher
upper_whisker = Q3 + 1.5 * IQR
lower_whisker = Q1 - 1.5 * IQR

print("upper whis:", upper_whisker)
print("lower whis:", lower_whisker)

Number of outliers in the TotalPay column: 1283
The Interquartile range is: 69719.18
Q1: 36126.88
Q3: 105846.06
upper whis: 210424.83
lower whis: -68451.88999999998

<h3><center>End of Question 1</center></h3>